<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <h4>فهرست</h4>
    </li>

    {{#ifCond session.isAdmin '===' true}}
    <li><i class="material-icons right">add_box</i><a href="/admin/product/new">کالای جدید</a></li>
    {{/ifCond}}
    <li><i class="material-icons right">folder</i><a href="/admin/products">لیست کالا ها</a></li>
    <li><i class="material-icons right">receipt</i><a href="/admin/orders"> لیست سفارشات</a></li>
    <li><i class="material-icons right">people</i><a href="/admin/customers"> لیست مشتریان</a></li>
    {{#ifCond session.isAdmin '===' true}}
    <li><i class="material-icons right">person_add</i><a href="/admin/user/new">کاربر جدید</a></li>
    <li><i class="material-icons right">people_outline</i><a href="/admin/users">لیست کاربران</a></li>
    {{/ifCond}}
    <li><i class="material-icons right">person_outline</i><a href="/admin/user/edit/{{session.userId}}">حساب کاربری</a></li>
    <li><i class="material-icons right">settings</i><a href="/admin/settings">تنظیمات عمومی</a></li>
    <li><i class="material-icons right"></i><a href="/admin/settings/menu">فهرست</a></li>
    <li><i class="material-icons right"></i><a href="/admin/settings/pages">صفحه ایستا</a>
    </li>
</ul>