<div class="row">
    <div class="container">
        <div class="col s12">
            {{#if paymentMessage}}
            <p class="text-center">{{paymentMessage}}</p>
            {{/if}}
            <div class="col s12 l7" style="margin-top: 30px;">

                <h5 class="panel-heading">جزییات مشتری</h5>
                {{#unless session.customer}}
                <div class="card customer-details-login">
                    <div class="card-content">
                        <p>حساب کاربری دارم</p>
                        <div class="input-field">
                            <input type="email" id="customerLoginEmail" name="loginEmail" minlength="5" required>
                            <label for="customerLoginEmail">ایمیل</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="customerLoginPassword" name="loginPassword" minlength="5"
                                required>
                            <label for="customerLoginPassword">رمز عبور</label>
                        </div>
                        <div class="input-field">
                            <button id="customerLogin" class="btn green" type="submit">ورود</button>
                            <a href="/customer/forgotten" class="btn blue">فراموشی رمز عبور</a>
                        </div>
                    </div>
                </div>
                {{/unless}}
                <div class="card customer-details">
                    <div class="card-content">
                        {{#if session.customer}}
                        <div class="col s12">
                            <button id="customerLogout" class="btn green right">تغییر مشتری</button>
                        </div>
                        {{/if}}
                        <form id="shipping-form" class="shipping-form"
                            action="/{{config.paymentGateway}}/checkout_action" method="post" role="form"
                            data-toggle="validator" novalidate="false">
                            {{> partials/payments/shipping-form}}
                            {{#if session.customer}}
                            {{#ifCond config.paymentGateway '==' 'paypal'}}
                            {{> partials/payments/paypal}}
                            {{/ifCond}}
                            {{/if}}
                            {{#unless session.customer}}
                            <div class="col s12">
                                <p class="text-muted">یک رمز عبور وارد کنید تا در زمان دیگر ، حساب کاربری بسازید</p>
                                <div class="input-field">
                                    <input type="password" class="customerDetails" id="newCustomerPassword"
                                        name="newCustomerPassword" required>
                                    <label for="newCustomerPassword">رمز عبور</label>
                                </div>
                                <a id="createCustomerAccount" class="btn green right">ایجاد حساب
                                    کاربری</a>
                            </div>
                            {{/unless}}
                        </form>
                        {{#if session.customer}}
                        {{#ifCond config.paymentGateway '==' 'stripe'}}
                        {{> partials/payments/stripe}}
                        {{/ifCond}}
                        {{#ifCond config.paymentGateway '==' 'authorizenet'}}
                        {{> partials/payments/authorizenet}}
                        {{/ifCond}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="cart" class="col s12 l5">
                {{> (getTheme 'cart')}}
            </div>
        </div>
    </div>
</div>